
<section class="offer mtop" id="services">
  <div class="container">
    <div class="heading">
      <h3>Nasze stanowiska </h3>
    </div>

    <div class="content grid2 mtop">
      <div class="box flex">
        <div class="left">
          <img src="../../assets/images/1.jpg" alt="">
        </div>
        <div class="right">
          <h4>Stanowisko nr.1</h4>
          <p> Stanowisko cechuje się dość płytką wodą. Przez pierwsze 20m mamy pas wody o głębokości 1,5m który przechodzi łagodnie w wypłycenie o gł. 0,5-1m</p>
          <button class="flex1" (click)="navigate(1)">
            <span >Sprawdź dostępność</span>
            <i class="fas fa-arrow-circle-right"></i>
          </button>
        </div>
      </div>
      <div class="box flex">
        <div class="left">
          <img src="../../assets/images/2.jpg" alt="">
        </div>
        <div class="right">
          <h4>Stanowisko nr.2</h4>
          <p> Stanowisko cechuje się średnią gł.1,7m i posiada dwa wypłycenia przy wyspach.</p>
          <button class="flex1" (click)="navigate(2)">
            <span>Sprawdź dostępność</span>
            <i class="fas fa-arrow-circle-right"></i>
          </button>
        </div>
      </div>
      <div class="box flex">
        <div class="left">
          <img src="../../assets/images/3.jpg" alt="">
        </div>
        <div class="right">
          <h4>Stanowisko nr.3</h4>
          <p> Stanowisko cechuje się średnią gł.1,7m i posiada dwa dołki gdzie woda schodzi na gł.2,5m.</p>
          <button class="flex1" (click)="navigate(3)">
            <span>Sprawdź dostępność</span>
            <i class="fas fa-arrow-circle-right"></i>
          </button>
        </div>
      </div>
      <div class="box flex">
        <div class="left">
          <img src="../../assets/images/4.jpg" alt="">
        </div>
        <div class="right">
          <h4>Stanowisko nr.4</h4>
          <p> Stanowisko cechuje się średnią gł.1,9m i posiada wypłycenie w środkowej części stawu.</p>
          <button class="flex1" (click)="navigate(4)">
            <span>Sprawdź dostępność</span>
            <i class="fas fa-arrow-circle-right"></i>
          </button>
        </div>
      </div>
      <div class="box flex">
        <div class="left">
          <img src="../../assets/images/5.jpg" alt="">
        </div>
        <div class="right">
          <h4>Stanowisko nr.5</h4>
          <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <button class="flex1" (click)="navigate(5)">
            <span>Sprawdź dostępność</span>
            <i class="fas fa-arrow-circle-right"></i>
          </button>
        </div>
      </div>
      <div class="box flex">
        <div class="left">
          <img src="../../assets/images/6.jpg" alt="">
        </div>
        <div class="right">
          <h4>Stanowisko nr.6</h4>
          <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <button class="flex1" (click)="navigate(6)">
            <span>Sprawdź dostępność</span>
            <i class="fas fa-arrow-circle-right"></i>
          </button>
        </div>
      </div>
      <div class="box flex">
        <div class="left">
          <img src="../../assets/images/7.jpg" alt="">
        </div>
        <div class="right">
          <h4>Stanowisko nr.7</h4>
          <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <button class="flex1" (click)="navigate(7)">
            <span>Sprawdź dostępność</span>
            <i class="fas fa-arrow-circle-right"></i>
          </button>
        </div>
      </div>
      <div class="box flex">
        <div class="left">
          <img src="../../assets/images/8.jpg" alt="">
        </div>
        <div class="right">
          <h4>Stanowisko nr.8</h4>
          <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <button class="flex1" (click)="navigate(8)">
            <span>Sprawdź dostępność</span>
            <i class="fas fa-arrow-circle-right"></i>
          </button>
        </div>
      </div>
      <div class="box flex">
        <div class="left">
          <img src="../../assets/images/9.jpg" alt="">
        </div>
        <div class="right">
          <h4>Stanowisko nr.9</h4>
          <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <button class="flex1" (click)="navigate(9)">
            <span>Sprawdź dostępność</span>
            <i class="fas fa-arrow-circle-right"></i>
          </button>
        </div>
      </div>
      <div class="box flex">
        <div class="left">
          <img src="../../assets/images/10.jpg" alt="">
        </div>
        <div class="right">
          <h4>Stanowisko nr.10</h4>
          <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <button class="flex1" (click)="navigate(10)">
            <span>Sprawdź dostępność</span>
            <i class="fas fa-arrow-circle-right"></i>
          </button>
        </div>
      </div>
      <div class="box flex">
        <div class="left">
          <img src="../../assets/images/11.jpg" alt="">
        </div>
        <div class="right">
          <h4>Stanowisko nr.11</h4>
          <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <button class="flex1" (click)="navigate(11)">
            <span>Sprawdź dostępność</span>
            <i class="fas fa-arrow-circle-right"></i>
          </button>
        </div>
      </div>
      <div class="box flex">
        <div class="left">
          <img src="../../assets/images/12.jpg" alt="">
        </div>
        <div class="right">
          <h4>Stanowisko nr.12</h4>
          <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <button class="flex1" (click)="navigate(12)">
            <span>Sprawdź dostępność</span>
            <i class="fas fa-arrow-circle-right"></i>
          </button>
        </div>
      </div>
      <div class="box flex">
        <div class="left">
          <img src="../../assets/images/13.jpg" alt="">
        </div>
        <div class="right">
          <h4>Stanowisko nr.13</h4>
          <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <button class="flex1" (click)="navigate(13)">
            <span>Sprawdź dostępność</span>
            <i class="fas fa-arrow-circle-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
