<article id="myArticle">
  <h1>Cennik łowiska Ademac</h1>
  <p>Opublikowano: <time datetime="2023-08-22">22 sierpnia 2023</time></p>

  <section>
    <p>1. Doba zaczyna się o godz 14 i kończy następnego dnia o godz 14 </p>
    <p>2. Połów na 3 wędki 70zł </p>
    <p>3. Ekipy 2 osobowe 100zł doba, połów na 6 wędek </p>
    <p>4. Osoba towarzysząca - brak dodatkowych opłat </p>
    <p>5. Wypożyczenie kołyski - 5zł/doba </p>
    <p>6. Wypożyczenie podbieraka - 5zł/doba</p>
    <p>7. Wypożyczenie łódki zdalnie sterowanej - 50zł/doba </p>
    <p>8. Wypoożyczenie kempingu - 50zł/doba </p>
    <p>9. Preparat do odkażania ran zakupiony na terenie łowiska - 30zł </p>
    <p>10. Gotowana kukurydza 20zł/ wiadro 10l </p>
    <p>11. Podłączenie do prądu opłata 5zł + 1zł/1KW</p>
    <p>12. Prysznic i kuchnia do użytku za darmo</p>
    <p>13. Catering z zewnętrznej firmy pod nr. 698 768 521</p>


  </section>
</article>

<article id="myArticle">
  <h1>Regulamin łowiska Ademac</h1>
  <p>Opublikowano: <time datetime="2023-08-22">22 sierpnia 2023</time></p>

  <section>
    <p>1. Doba zaczyna się o godz 14 i kończy następnego dnia o godz 14 </p>
    <p>2. Połów na 3 wędki 70zł </p>
    <p>3. Ekipy 2 osobowe 100zł doba, połów na 6 wędek </p>
    <p>4. Osoba towarzysząca - brak dodatkowych opłat </p>
    <p>5. Wypożyczenie kołyski - 5zł/doba </p>
    <p>6. Wypożyczenie podbieraka - 5zł/doba</p>
    <p>7. Wypożyczenie łódki zdalnie sterowanej - 50zł/doba </p>
    <p>8. Wypoożyczenie kempingu - 50zł/doba </p>
    <p>9. Preparat do odkażania ran zakupiony na terenie łowiska - 30zł </p>
    <p>10. Gotowana kukurydza 20zł/ wiadro 10l </p>
    <p>11. Podłączenie do prądu opłata 5zł + 1zł/1KW</p>
    <p>12. Prysznic i kuchnia do użytku za darmo</p>
    <p>13. Catering z zewnętrznej firmy pod nr. 698 768 521</p>


  </section>
</article>
